celery
cryptography
fastapi
GitPython
python-dotenv
pyyaml
redis
limits
sqlalchemy
uvicorn[standard]
python-multipart
google-genai>=0.3.0

google-generativeai
ruamel.yaml
python-frontmatter
Unidecode
